<div>
    <div class="row mainHeaderBox">
        <div class="col-xs-6">
            <span class="logo"><img class="logoSmall" src="images/logo.jpg" /> TEZBOX</span>
        </div>
        <div class="col-xs-6 text-right">
            <a ng-click="lock()" class="btn btn-icon btn-default"><i class="fa fa-lock" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="row addressDetails">
        <div class="col-xs-12">
            <h1 class="walletTitle" ng-show="!editMode">
              <div class="dropdown left">
								<button class="icon-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									<i class="fa fa-angle-down" aria-hidden="true"></i>
								</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
									<li ng-repeat="a in accounts track by a.pkh"><a ng-click="loadAccount(a)">{{a.title}}</a></li>
									<li role="separator" class="divider"></li>
									<li><a ng-click="add()">Add Account</a></li>
								</ul>
							</div>
              {{account.title}}
							<div class="dropdown right">
								<button class="icon-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
								</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
									<li><a ng-click="editMode = true;">Edit Title</a></li>
									<li><a ng-click="delegate()">Manage Delegate</a></li>
									<li><a ng-click="remove()">Remove Account</a></li>
								</ul>
							</div>
						</h1>
            <div ng-show="editMode" style="    margin-top: 14px;" class="input-group">
              <input type="text" class="form-control" ng-model="account.title">
              <span class="input-group-btn">
                <a ng-click="save()" class="btn btn-success btn-inner">Save</a>
              </span>
            </div>
        </div>
    </div>
    <div class="row addressDetails text-center" style="margin-top:10px;">
        <div class="col-xs-3">
          <svg width="70" height="70" data-jdenticon-value="{{account.pkh}}"></svg>
        </div>
        <div class="col-xs-9">
            <h5 class="address">
            <button ng-click="copy()" class="icon-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									<i class="far fa-copy" aria-hidden="true"></i>
								</button>
                {{account.pkh}}
                </h5>
            <h5 class="balance">{{accountDetails.balance}} <button ng-click="refresh()" class="icon-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									<i class="fas fa-sync" aria-hidden="true"></i>
								</button>
                </h5>
        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-xs-3 col-xs-offset-3" style="padding:2px;">
          <a ng-click="send()" class="btn btn-success btn-small btn-block">Send</a>
        </div>
        <div class="col-xs-3" style="padding:2px;">
          <a ng-click="qr()" class="btn btn-success btn-small btn-block">Receive</a>
        </div>
    </div>
    <div class="row text-center" style="margin-top:10px;">
        <div class="col-xs-12 text-center">
        <h1 class="walletTitle"><i class="fas fa-exchange-alt"></i> Transactions
        </h1>
        
        </div>

    </div>
    <div style="height: 255px; overflow-y: scroll; font-family: monospace;">
        <table  style="width: 100%;">
            <tr ng-repeat="tx in history track by $index" ng-style="{ background: tx.direction === '>>' ? '#C000004C' : '#00A0004C' }">
                    <td style="width: 5%; padding-left: 4px; padding-right: 4px;">{{tx.direction}}</td>
                    <td style="width: 35%; padding-left: 6px; padding-right: 6px;"><a href="{{'https://tezex.info/transaction/' + tx.hash}}" ng-click="openTransaction(tx.hash)">{{tx.address.slice(0,11)}}..</a></td>
                    <td style="width: 25%; padding-left: 6px; padding-right: 0px; text-align: right;">{{((tx.direction === '>>' ? -1 : 1) * tx.amount / 1000000).toFixed(6)}}</td>
                    <td style="width: 35%; padding-left: 0px; padding-right: 12px; text-align: right;">{{tx.status}}</td>
            </tr>
        </table>
    </div>
</div>