<div>
    <div class="row mainHeaderBox">
        <div class="col-xs-6">
            <span class="logo"><img class="logoSmall" src="images/logo.jpg" /> TEZBOX</span>
        </div>
    </div>


    <div class="row text-center">
        <div ng-show="sending" class="text-align:center;">
        
          <strong>Sending, please wait</strong>
        </div>
        <div ng-show="sendError" class="col-xs-12">
          <p class="alert alert-danger"><i class="leftIcon fas fa-exclamation-circle"></i><strong>{{sendError}}</strong></p>
        </div>
        <div ng-hide="sending">
          <div class="col-xs-10 col-xs-offset-1">
              <div class="form-group">
                <label for="exampleInputEmail1">To address</label>
                <input type="text" class="text-center form-control" ng-model="toaddress" >
              </div>
              
          </div>
          <div class="col-xs-5 col-xs-offset-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Amount</label>
                <input type="number" class="text-center form-control" ng-model="amount" >
              </div>
          </div>
          <div class="col-xs-5">
              <div class="form-group">
                <label for="exampleInputEmail1">Fee</label>
                <input type="number" class="text-center form-control" ng-model="fee" >
              </div>
          </div>
              
          <div class="col-xs-10 col-xs-offset-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Parameters</label>
                <input type="text" class="text-center form-control" placeholder="(optional)"ng-model="parameters" >
              </div>
          </div>
          <div class="col-xs-10 col-xs-offset-1">
            <a ng-click="send()" class="btn btn-success btn-block">Send</a>
            <br />
            <a ng-click="cancel()" class="btn-link">Cancel</a>
          </div>
        </div>
    </div>
</div>