<div class="text-center">
    <h1>Welcome back</h1>
    <img class="logoBig" src="images/icon.png" />
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <div class="form-group">
              <label for="exampleInputEmail1">Enter Password</label>
              <input type="password" class="text-center form-control" ng-model="password">
            </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1">
          <a ng-click="unlock()" class="btn btn-primary">Unlock</a>
          <a ng-click="clear()" class="btn btn-danger">Clear TezBox</a>
        </div>
    </div>
</div>