#loadingSpinnerContainer{
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display:none;
      z-index: 300;
}
#loadingSpinnerContainer .bg{
  background-color:#000;
  opacity:.2;
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#loading-bar-spinner.spinner {
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
    position: absolute;
    z-index: 200 !important;
    animation: loading-bar-spinner 400ms linear infinite;
}

#loading-bar-spinner.spinner .spinner-icon {
    width: 40px;
    height: 40px;
    border:  solid 4px transparent;
    border-top-color:  #00C8B1 !important;
    border-left-color: #00C8B1 !important;
    border-radius: 50%;
}

@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

.balance button i{
  font-size:1.3rem;
  position: relative;
  top:-2px;
}
p.address{
font-size: 12px;
    font-weight: bold;
}
.btn-inner{
  padding: 5px 10px!important;
}
.btn-icon {
  border-radius: 2px!important;
 border-color: #ccc!important;
  padding: 6px 12px!important;
}
.btn {
  border-radius: 20px;
  border: 1px solid #B9013B;
  padding: 13px;
}
.btn.btn-small {
  border-radius: 5px;
  border: 1px solid #B9013B;
  padding: 5px;
  background: #8F015E;
}
a.btn-link{
  color: #DF385D;
  font-weight: bold;
  text-decoration:underline;
}
.alert-danger {
    background-color: #f7f4f4;
    border-color: #ce6d7c;
    color: #ce6d7c;
}
.alert>i.leftIcon {
  position:absolute;
  left: 20px;
  top: 20px;
  font-size: 2rem;
}
.alert {
    position: relative;
    font-size: 1.3rem;
    padding-left: 50px;
    text-align:left;
}
#area div.mainHeaderBox{
    text-align: left;
    margin-top: 0;
    font-size: .9rem;
    margin-bottom: 10px;
    position: fixed;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 0;
    background: white;
    z-index: 100;
}
#area div.mainHeaderBox img.logoSmall{
  height: 32px;
  position: relative;
  top: -2px;
}
h2.header{
  text-transform: uppercase;
  margin:0;
  margin-bottom: 5px;
  font-weight: bold;
}
h3.header{
  text-transform: uppercase;
  margin:0;
  margin-bottom: 5px;
  font-size: 1.8rem;
}
.btn.btn-success {
  background: linear-gradient(#DF385D, #8F015E);
}

.btn.btn-primary {
  background: #F8EEED;
  color:#B9013B;
}
.btn.btn-primary:hover {
  background: #8F015E;
  color:#fff;
  border: 1px solid #B9013B;
}
.btn.btn-success:hover {
  background: #8F015E;
  border: 1px solid #B9013B;
}
html {
  background: #ffffff;
  height: 500px!important;
  overflow: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  width: 357px!important;
}
body{
	font-family: 'Arimo', sans-serif!important;
      overflow: hidden;
    padding:10px;
    padding-bottom: 30px;
    padding-top: 60px;
}
.btn{
    text-transform:uppercase;
    font-weight:bold;
}
.blocky {
    width: 70px;
    height: 70px;
    border-radius: 100%;
}
.poweredby{
  display:none;
}
.walletTitle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 11px;
    text-align: center;
    cursor:pointer;
    font-size: 20px!important;
}
.walletTitle .dropdown-menu li a{
      text-transform: none!important;
    text-align: left!important;
}
.walletTitle .dropdown-menu {
  right:0!important;
  left: inherit;
}
.walletTitle .dropdown.left {
  position: absolute;
  left: 20px;
  top: 10px;
}
.walletTitle .dropdown.right {
  position: absolute;
  right: 20px;
  top: 10px;
}
.icon-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}
h1{
    font-size:1.9em!important;
    text-transform:uppercase;
    padding-bottom:5px;
    font-weight:bold;
}
.addressDetails{

}
.addressDetails h5.address{
    line-height:2em!important;
    font-size:.9em!important;
    color:#aaa;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width:200px;
    margin:0 auto;
}
.addressDetails h5{
    line-height:2em!important;
    font-size:2.5rem!important;
    font-weight:bold;
    color:#797979;
    margin: 0;
}
.header{
    margin-bottom: 15px;
}
.mnemonic{
    padding: 2px 4px;
    font-size: 1.5rem;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    margin-bottom:15px;
}
.logo{
        font-size: 2em;
}
.logoSmall {
    position:relative;
    top:-5px;
}
.logoBig {
    max-width:300px;
    display:block;
    margin:0 auto;
}
.poweredby{
    font-size: .8em!important;
    text-align:center;
    position:absolute;
    bottom:5px;
        bottom: 5px;
    width: 100%;
}
.tabChoices a {
  font-weight: bold;
  font-size: 12px;
  text-transform:uppercase;
  margin-bottom: 10px;
  text-align: center;
  color: #DF385D;
  cursor: pointer;
}

.transactions {
  
}
.transactions .tx {
  position: relative;
    border-bottom: 1px solid #B9013B;
    padding: 10px;
    padding-left: 40px;
    text-align: center;
    padding-right: 60px;
}
.transactions .tx canvas{
 border-radius: 50%;
    width: 32px;
    position: absolute;
    left: 0;
}
.transactions .tx h3.date{
      margin: 0;
    font-size: 15px;
    font-weight:bold;
    color:#555;
 
}
.transactions .tx span.opHash{
}
.transactions .tx span.amt{
      position: absolute;
    right: 0;
    font-size: 15px;
    font-weight: bold;
    color:#B9013B;
     top: 10px;
}
.accountOffline{
position: absolute;
    top: 5px;
    right: -20px;
    font-size: 23px;
    color: #C53929;
}
.tabChoices{
  margin: 10px;
    margin-top: 0;
    text-align: center;
}
.tabChoices a:hover{
  text-decoration:none;
}
.tabChoices a{
      font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    color: #DF385D;
    cursor: pointer;
    padding: 10px;
    display: block;
}
.tabChoices .selected{
      background: #f0f0f0;
}