<div>
    <div class="row mainHeaderBox">
        <div class="col-xs-6">
            <span class="logo"><img class="logoSmall" src="skin/images/logo.png" /> TEZBOX</span>
        </div>
    </div>
    <div class="row addressDetails text-center" style="margin-top:10px;position:relative;">
      <div class="col-xs-12">
      <strong>Sending From</strong>
      </div>
        <div class="col-xs-2">
          <div class="blockatar"><blocky class="avatar" seed='{{accounts[account].address}}' size='8' scale='16'></blocky></div>
        </div>
        <div class="col-xs-7">
            <h5 class="address">
                {{accounts[account].address}}
            </h5>
        </div>
        <div class="col-xs-3">
            <strong>{{balance}}</strong>
        </div>
    </div>
    <hr />
    <div class="row addressDetails text-center" style="margin-top:10px;">
      <div class="col-xs-12">
      <strong>Destination</strong>
      </div>
        <div class="col-xs-12">
            <h5 class="address" style="width: 100%;!important">
                {{toaddress}}
            </h5>
        </div>
    </div>
    <div class="row text-center">
        <div ng-show="sending" class="text-align:left;">
        
          <strong>Sending, please wait</strong>
        </div>
        <div ng-show="sendError" class="col-xs-12">
          <p class="alert alert-danger"><i class="leftIcon fas fa-exclamation-circle"></i><strong>{{sendError}}</strong></p>
        </div>
        <div ng-hide="sending">
          <div class="col-xs-6">
              <strong>Amount: <br /><span style="font-size:15px;">{{amount}}ꜩ</span></strong>
          </div>
          <div class="col-xs-6">
              <div class="form-group">
                <label for="exampleInputEmail1">Fee</label>
                <input type="number" class="text-center form-control" ng-model="fee" >
              </div>
          </div>
          <div ng-show="parameters" class="col-xs-10 col-xs-offset-1">
              <strong>Parameters: {{parameters}}</strong>
          </div>
          <div class="col-xs-10 col-xs-offset-1">
            <a ng-click="send()" class="btn btn-success btn-block">Approve</a>
            <br />
            <a ng-click="cancel()" class="btn-link">Cancel</a>
          </div>
        </div>
    </div>
</div>
<style>.blockatar canvas{    position: relative;top:-20px;width:50px;border-radius: 50%;}</style>