<div>
    <div class="row mainHeaderBox">
        <div class="col-xs-6">
            <span class="logo"><img class="logoSmall" src="skin/images/logo.png" /> TEZBOX</span>
        </div>
    </div>


    <div class="row text-center">
          <div class="col-xs-10 col-xs-offset-1">
              <h3>Please confirm</h3>
          </div>
      <div class="col-xs-12">
      <p class="alert alert-warning"><i class="leftIcon fas fa-exclamation-circle"></i><strong>Singing this message can be dangerous. Only sign messages from trusted sites.</strong></p>
    </div>
          <div class="col-xs-10 col-xs-offset-1">
              <p><strong>Message to sign</strong></p>
              <p>{{message}}</p>
          </div>

          <div class="col-xs-10 col-xs-offset-1">
            <a ng-click="sign()" class="btn btn-success btn-block">Sign</a>
            <br />
            <a ng-click="cancel()" class="btn-link">Cancel</a>
          </div>
    </div>
</div>