<div>
    <div class="mainHeaderBox">
        <div class="col-md-4">
            <span class="logo"><img class="logoSmall" src="skin/images/logo.png" /> TEZBOX</span>
        </div>
        <div class="col-md-4 text-center">
          
        </div>
        <div class="col-md-4 text-right">
            <a ng-click="viewSettings()" class="btn btn-icon btn-default" style="margin-right:10px;"><i style="    font-size: 30px;" class="fa fa-cog" aria-hidden="true"></i></a>
            <a ng-click="lock()" class="btn btn-icon btn-default"><i style="    font-size: 30px;" class="fa fa-lock" aria-hidden="true"></i></a>
        </div>
    </div>
    
    <div class="mainBody">
      <div class="side" style="padding-bottom: 100px;">
        <h3 style="">My Accounts</h3>
        <div class="sideContainer">
        <ul class="sidebar">
          <li ng-repeat="a in accounts track by a.address"><a ng-click="loadAccount($index)"><blocky class="avatar" seed='{{a.address}}' size='8' scale='16'></blocky> {{a.title}}<span>{{a.address}}</span></a></li>
          <li><a style="padding-top: 8px!important;" ng-click="add()">Add Account <i class="fa fa-plus" ></i></a></li>
        </ul>
        </div>
        <div  style="position:absolute;bottom:30px;font-size:12px;">
        <p>
        {{block.net}}<br />
        Level {{block.level}}<br />
        <strong>{{block.proto}}</strong><br />
        {{setting.rpc}}
        <p class="copy text-center"><a href="https://tezbox.github.io/disclaimer.html" target="_blank">Disclaimer</a> - <a href="https://tezbox.github.io/terms.html" target="_blank">Terms</a> - <a href="https://tezbox.github.io/privacy.html" target="_blank">Privacy</a></p>
        </p>
        </div>
      </div>
      <div class="mainArea">
      <div class="innerContainer">
    <div class="row addressDetails">
        <div class="col-md-3 blocky-container">
          <blocky class="avatar" seed='{{accounts[account].address}}' size='8' scale='16'></blocky>
          <div class="accountOffline" ng-hide="accountLive"><i class="leftIcon fas fa-exclamation-circle"></i></div>
        </div>
        <div class="col-md-6">
            <h1 class="walletTitle">
              {{accounts[account].title}}
						</h1>
            <h5 class="address">
              <button ng-click="copy()" class="icon-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="far fa-copy" aria-hidden="true"></i>
              </button>
              {{accounts[account].address}}
            </h5>
            <strong><a target="_blank" href="https://tzscan.io/{{accounts[account].address}}">View on tzscan <i class="fas fa-external-link-alt"></i></a></strong>
            <h5 class="balance">
              {{accountDetails.balance}} 
              <button ng-click="refresh()" class="icon-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="fas fa-sync" aria-hidden="true"></i>
              </button>
            </h5>
        </div>
        <div class="col-md-3">
          <qrcode style="margin:25px;"  error-correction-level="H" size="180" data="{{accounts[account].address}}" color="#FFF" background="#000"></qrcode>
        </div>
    </div>
    
    
    <div class="row" ng-hide="accountLive">
                  <p class="alert alert-danger"><i class="leftIcon fas fa-exclamation-circle"></i><strong>This account has not been added to the blockchain yet - please wait for a baker to include this in a block before you can use this account.</strong></p>
    </div>
    <div class="row" ng-show="accountLive">
        <div class="col-md-12">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a data-target="#transactions" aria-controls="transactions" role="tab" data-toggle="tab"><i class="fas fa-exchange-alt"></i> Transactions</a></li>
          <li role="presentation"><a data-target="#send" aria-controls="send" role="tab" data-toggle="tab"><i class="fas fa-paper-plane"></i> Send</a></li>
          <li role="presentation"><a data-target="#delegate" aria-controls="delegate" role="tab" data-toggle="tab"><i class="fa fa-users"></i> Delegate</a></li>
          <li role="presentation"><a data-target="#settings" aria-controls="settings" role="tab" data-toggle="tab"><i class="fas fa-sliders-h"></i> Options</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content mainTabs">
          <div role="tabpanel" class="tab-pane active text-center" id="transactions">
            <strong ng-hide="transactions.length != 0">No transactions available</strong>
            
            <div class="transactions" ng-hide="transactions.length == 0">
              <div class='tx' ng-repeat="tx in transactions track by $index">
                <div class="row">
                  <div class="col-md-3">
                    <blocky ng-show="tx.source != accounts[account].address" class="avatar" seed='{{tx.source}}' size='8' scale='16'></blocky>
                    <blocky ng-show="tx.source == accounts[account].address" class="avatar" seed='{{tx.destination}}' size='8' scale='16'></blocky>
                    <span ng-show="tx.source != accounts[account].address" class="dir green"><strong>RECEIVED</strong><br />{{toDate(tx.time)}}</span>
                    <span ng-show="tx.source == accounts[account].address" class="dir red"><strong>SENT</strong><br />{{toDate(tx.time)}}</span>
                  </div>
                  <div class="col-md-5">
                      <span class="date" ng-show="tx.source != accounts[account].address" >from {{tx.source.slice(0,25)}}...</span>
                      <span class="date" ng-show="tx.source == accounts[account].address" >to {{tx.destination.slice(0,25)}}...</span>
                  </div>
                  <div class="col-md-3">
                      <span class="opHash"><a target="_blank" href="{{'https://tzscan.io/' + tx.hash}}">{{tx.hash.slice(0,15)}}... <i class="fa fa-external-link-alt" aria-hidden="true"></i></a></span>
                  </div>
                  <div class="col-md-1">
                      <span ng-show="tx.source == accounts[account].address" class="amt red">{{toTez(tx.amount)}}ꜩ</span>
                      <span ng-show="tx.source != accounts[account].address" class="amt green">{{toTez(tx.amount)}}ꜩ</span>
                  </div>
                </div>
              </div>
            </div>
                    
          </div>
          <div role="tabpanel" class="tab-pane" id="send">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                      <label for="exampleInputEmail1">To address</label>
                      <input type="text" class="form-control" ng-model="toaddress" >
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Amount</label>
                      <input type="number" class="form-control" ng-model="amount" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Fee</label>
                      <input type="number" class="form-control" ng-model="fee" >
                    </div>
                </div>
                    </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Parameters</label>
                      <input type="text" class="form-control" placeholder="(optional)" ng-model="parameters" >
                    </div>
                </div>
             </div>
            <div class="row">
                <div class="col-md-3">
                  <a ng-click="send()" class="btn btn-small btn-success btn-block">Send</a>
                </div>
                <div class="col-md-3">
                  <a ng-click="clear()" class="btn btn-small btn-primary btn-block">Clear</a>
                </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="delegate">
          <div class="row">
              <div class="col-md-12" ng-show="account > 0 && delegateType == ''">
                  <p class="alert alert-danger"><i class="leftIcon fas fa-exclamation-circle"></i><strong>Please ensure the delegate you are entering has been registered to participate in the baking protocol.</strong></p>
              </div>
              <div class="col-md-12" ng-show="account > 0 && delegateType != ''">
                  <p class="alert alert-warning"><i class="leftIcon fas fa-exclamation-circle"></i><strong>TezBox doesn't endorse any of the listed delegation services listed below - please ensure you are doing your own research into each one.</strong></p>
              </div>
              <div class="col-md-12" ng-show="account == 0">
                  <p class="alert alert-danger"><i class="leftIcon fas fa-exclamation-circle"></i><strong>Delegation from this address is not allowed (lowercase tz addresses) - these are referred to as implicit addresses and the protocol doesn't allow them to delegate to another key. Please create an account (KT address) to use for delegation.</strong></p>
              </div>
            </div>
              
            <div class="row" ng-show="account > 0">
              <div class="col-md-4">
                  <div class="form-group">
                    <select class="form-control" ng-model="delegateType">
                      <option value="false">Undelegated</option>
                      <option value="">Custom</option>
                      <option value="tz1Tnjaxk6tbAeC2TmMApPh8UsrEVQvhHvx5">CryptoDelegate</option>
                      <option value="tz1iZEKy4LaAjnTmn2RuGDf2iqdAQKnRi8kY">Tezzigator</option>
                      <option value="tz1TDSmoZXwVevLTEvKCTHWpomG76oC9S2fJ">Tezos.Community</option>
                      <option value="tz1WCd2jm4uSt4vntk4vSuUWoZQGhLcDuR9q">HappyTezos</option>
                    </select>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group" ng-show="!delegateType" placeholder="Custom Delegate Key">
                    <input type="text" class="form-control" ng-model="dd" >
                  </div>
              </div>
              <div class="col-md-3" >
                <a ng-click="updateDelegate()" class="btn btn-small btn-success btn-block">Update Delegate</a>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="settings">
            <div class="row">
              <div class="col-md-12">
                <h3>Title</h3>
              </div>
            </div>
              
            <div class="row">
              <div class="col-md-4">
                  <div class="form-group">
                    <input type="text" class="form-control" ng-model="tt" >
                  </div>
              </div>
              <div class="col-md-3" >
                <a ng-click="saveTitle()" class="btn btn-small btn-success btn-block">Update Title</a>
              </div>
            </div>
            
            <div ng-hide="account > 0">
            <div class="row">
              <div class="col-md-12">
                <h3>Import KT1 account</h3>
                <p>You can use this to import KT1 addresses that have been originated else where (or after you have restored your account). You can view all of your originated KT1 addresses on <a target="_blank" href="https://tzscan.io/{{accounts[account].address}}?default=origination">tzscan.io</a>
              </div>
            </div>
              
            <div class="row">
              <div class="col-md-4">
                  <div class="form-group">
                    <input type="text" class="form-control" ng-model="kt1" placeholder="KT1...">
                  </div>
              </div>
              <div class="col-md-3" >
                <a ng-click="import()" class="btn btn-small btn-success btn-block">Import</a>
              </div>
            </div>
            </div>
            

            <div class="row" ng-show="account > 0">
              <div class="col-md-12">
                <h3>Remove Account</h3>
              </div>
            </div>
              
            <div class="row" ng-show="account > 0">
              <div class="col-md-3">
                <a ng-click="remove()" class="btn btn-small btn-success btn-block">Remove Account</a>
              </div>
            </div>
          </div>
            
          </div>
        </div>

      </div>
    </div>
    </div>
      

      </div>
    </div>
</div>