<div class="text-center" style="padding-top:30px;">
    
    <div class="small-container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <img class="logoBig" src="skin/images/logo.png" />
          <h2 class="header">TezBox</h2>
          <h3 class="header">Secure Tezos Wallet</h3>
          <br />
          <br />
        </div>
      </div>
      <div ng-show="setting.disclaimer">
          <div  class="row">
          <div class="col-md-6 col-md-offset-3">
            <a ng-click="create()" class="btn btn-success btn-block">Create TezBox</a>
            <br />
          </div>
          </div>
          <div  class="row">
          <div class="col-md-3 col-md-offset-3">
            <a ng-click="restore()" class="btn btn-primary btn-block">Restore</a>
          </div>
          <div class="col-md-3">
            <a ng-click="link()" class="btn btn-primary btn-block">Link</a>
          </div>
          </div>
      </div>
      <div class="row" ng-hide="setting.disclaimer">
          <div class="col-md-10 col-md-offset-1">
            <p class="alert alert-warning"><i class="leftIcon fas fa-exclamation-circle"></i><strong>Be warned that you are dealing with the mainnet, which is a LIVE NETWORK. All transactions on this network are final.</p>
          </div>
          <div class="col-md-6 col-md-offset-3">
            <a ng-click="acceptDisclaimer()" class="btn btn-success btn-block">I Accept</a>
          </div>
      </div>
    </div>
</div>