<div class="main">
  <div class="mainBgCover"></div>
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <span class="logo"><img class="logoSmall" src="skin/images/logo.png" /> TEZBOX</span>
        </div>
      </div>
    </div>
  </div>
  <div class="med-container">
    <h2 class="med-title">{{translate('tezbox_settings')}}</h2>
    <div class="container-box">
      <div class="row">
        <div class="col-md-12">
          <p class="alert alert-info"><i class="leftIcon fas fa-exclamation-circle"></i><strong>{{translate('tezbox_settings_info')}}</strong></p>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label>{{translate('rpc_address')}}</label>
            <p>{{translate('rpc_address_info')}}</p>
            <div class="row">
              <div class="col-md-6">
								<input ng-show="showCustom" type="text" class="form-control" ng-model="customRpc">
								<select ng-show="!showCustom" class="form-control" ng-model="rpc">
									<option value="https://mainnet.tezrpc.me">Mainnet</option>
									<option value="https://alphanet.tezrpc.me">Alphanet</option>
									<option value="https://zeronet.tezrpc.me">Zeronet</option>
								</select>
								<p style='text-align:right'><a ng-show="!showCustom" style="cursor:pointer;" ng-click="customRpc = rpc; showCustom = true">Enter Custom Address</a><a ng-show="showCustom" style="cursor:pointer;" ng-click="customRpc = ''; showCustom = false;">View Default Options</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <a ng-click="save()" class="btn btn-primary btn-block">{{translate('back')}}</a>
        </div>
      </div>
    </div>
  </div>
</div>