<div class="text-center" style="padding-top:30px;">
    <div class="small-container">

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <img class="logoBig" src="skin/images/logo.png" />
        <h2 class="header">TezBox</h2>
        <h3 class="header">Welcome Back!</h3>
        <br />
        <br />
      </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <div class="form-group">
              <label for="exampleInputEmail1">Enter Password</label>
              <input type="password" class="text-center form-control" ng-model="password">
            </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1">
          <a ng-click="unlock()" class="btn btn-success btn-block">Unlock Wallet</a>
          <br />
          <a ng-click="clear()" class="btn-link">Clear TezBox</a>
        </div>
    </div>
    </div>
</div>